@import './variables.css';

:root {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--indigo-dark);
  background-color: var(--white-mute);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  resize: none;
}

input[type=radio], input[type=checkbox] {
  margin: 0 4px 0 4px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--light-brown);
  font-weight: bold;
}

p {
  margin: 0 auto 10px auto;
  text-align: justify;
  text-justify: auto;
}

h2 {
  font-size: 19px;
  font-weight: bold;
}

button.action-button.disabled,
button.action-button.disabled a,
button.change-quantity-button.disabled,
input.disabled {
  pointer-events: none;
  background-color: var(--silver-dark);
  color: var(--indigo-dark);
}

label {
  font-size: 16px;
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.wide {
  width: 100%;
}
.flex.tall {
  height: 100%;
}
.flex.y-centered {
  align-items: center;
}
.flex.x-centered {
  justify-content: center;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.space-evenly {
  justify-content: space-evenly;
}
.flex.right {
  justify-content: right;
}
.flex.left {
  justify-content: left;
}

.centered-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.top-margin {
  margin-top: 15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.vue-notification .notification-title {
  font-size: 18px;
}

.vue-notification .notification-content {
  font-size: 14px;
}

.page-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2.5%;
}

.page-section.bordered {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid var(--black-soft);
  border-radius: 4px;
}

.action-button {
  font-size: 13px;
  font-weight: bold;
  border-width: 2px;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--black);
  background-color: var(--intense-brown);
  color: var(--soft-beige);
  padding: 6px;
  cursor: pointer;
}

.action-button.large {
  width: 47%;
  max-width: 450px;
  height: 55px;
  font-size: 16px;
}

.action-button.red {
  background-color: var(--triggerable);
}

.action-button a {
  color: var(--soft-beige);
}

.negative-text {
  color: var(--triggerable);
}

.positive-text {
  color: var(--light-success-tone);
}

img.loading-image {
  width: 32px;
}

/* Multiselect */

div.multiselect {
  border: 1px solid var(--soft-brown);
  border-radius: 5px;
}

input.multiselect__input, input.multiselect__single {
  color: var(--black);
}

span.multiselect__tag {
  background: var(--soft-brown);
}

i.multiselect__tag-icon::after {
  color: var(--pale-tone);
}

span.multiselect__option--highlight, span.multiselect__option--highlight::after {
  background: var(--intense-brown);
}

span.multiselect__option--highlight.multiselect__option--selected, span.multiselect__option--highlight.multiselect__option--selected::after {
  background: var(--failure-tone);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--black-soft);
  }

  .page-section.bordered {
    border-color: var(--white-mute);
  }
}

/* Vue transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.25s;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
}