@import './variables.css';

@font-face {
  font-family: 'Cambria';
  src: local('Cambria Regular'), local('Cambria-Regular'),
    url('Cambria.woff2') format('woff2'),
    url('Cambria.woff') format('woff'),
    url('Cambria.ttf') format('truetype'),
    url('Cambria.svg#Cambria') format('svg');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Cambria', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--black-soft);
  background-color: var(--white-mute);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100dvh;
}

.master-container {
  transition: all 0.3s;
}

main.unusable {
  pointer-events: none;
}

input,
textarea,
button,
select,
option {
  font-family: 'Cambria';
  font-size: 14px;
  resize: none;
}

input[type=radio],
input[type=checkbox] {
  margin: 0 4px 0 4px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--light-main-palette);
  font-weight: bold;
}

p {
  margin: 0 auto 10px auto;
  text-align: justify;
  text-justify: auto;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

button.action-button.disabled,
button.action-button.disabled a,
button.change-quantity-button.disabled,
input.disabled,
div.disabled {
  pointer-events: none;
  background-color: var(--soft-grey);
  color: var(--indigo-dark);
}

label {
  font-size: 16px;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.wide {
  width: 100%;
}

.flex.tall {
  height: 100%;
}

.flex.y-centered {
  align-items: center;
}

.flex.x-centered {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.space-evenly {
  justify-content: space-evenly;
}

.flex.right {
  justify-content: right;
}

.flex.left {
  justify-content: left;
}

.flex.start {
  justify-content: flex-start;
}

.right-text {
  text-align: right;
}

.centered-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

.uppercased {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.top-margin {
  margin-top: 15px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.right-margin {
  margin-right: 15px;
}

.left-margin {
  margin-left: 15px;
}

.large-bottom-margin {
  margin-bottom: 30px;
}

.auto-margin {
  margin: auto;
}

.vue-notification .notification-title {
  font-size: 18px;
}

.vue-notification .notification-content {
  font-size: 14px;
}

.page-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 350px;
  margin: 2.5dvw 2.5dvw 4dvw 2.5dvw;
}

.page-section.bordered {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid var(--black-soft);
  border-radius: 4px;
}

.action-button {
  min-width: 60px;
  min-height: 25px;
  font-size: 13px;
  font-weight: bold;
  border-width: 2px;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--black);
  background-color: var(--reddish-main-palette);
  color: var(--black-soft);
  padding-block: 0;
  padding-inline: 0;
  cursor: pointer;
}

.action-button.large {
  width: 45%;
  max-width: 450px;
  height: 55px;
  font-size: 16px;
}

.action-button.red {
  background-color: var(--negative-main-palette);
}

.action-button a {
  color: var(--black-soft);
}

.small-text {
  font-size: 10px;
}

.negative-text {
  color: var(--negative-main-palette);
}

.positive-text {
  color: var(--light-success-tone);
}

.color-transition:not(:disabled) {
  transition: linear background-color 0.2s, linear color 0.2s;
}

/* Multiselect */

div.multiselect {
  border: 1px solid var(--soft-main-palette);
  border-radius: 5px;
  max-width: 500px;
}

input.multiselect__input,
input.multiselect__single {
  color: var(--black);
}

span.multiselect__tag {
  background: var(--soft-main-palette);
}

i.multiselect__tag-icon::after {
  color: var(--pale-tone);
  font-size: 20px;
}

span.multiselect__option--highlight,
span.multiselect__option--highlight::after {
  background: var(--soft-beige);
  color: var(--black-soft);
}

span.multiselect__option--highlight.multiselect__option--selected,
span.multiselect__option--highlight.multiselect__option--selected::after {
  background: var(--failure-tone);
}

div.multiselect__select::before {
  border-color: var(--soft-main-palette) transparent transparent;
}

/* Pagination component */

.pagination-container {
  margin-block: 0;
  margin-top: 5px;
}

.pagination-container .paginate-buttons {
  width: 36px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  margin: auto 2px auto 2px;
  border-radius: 5px;
  /* border: 1px solid var(--intense-main-palette); */
  border: none;
  color: var(--black-soft);
  transition: all 0.2s;
}

.pagination-container .number-buttons {
  background: var(--pale-tone);
}

/* .pagination-container .paginate-buttons:hover {
  background-color: var(--white-soft);
} */

.pagination-container li:first-of-type .paginate-buttons {
  margin-left: 0;
}

.pagination-container li:last-of-type .paginate-buttons {
  margin-right: 0;
}

.pagination-container .active-page {
  background-color: var(--light-main-palette);
}

.pagination-container .first-page-button,
.pagination-container .last-page-button,
.pagination-container .next-button,
.pagination-container .back-button {
  background-color: var(--dimmed-main-palette);
}

/* Vue toggle */

section.m-toggle .m-toggle__label {
  pointer-events: none;
}

/* Mapbox */

button.mapboxgl-popup-close-button {
  color: var(--black-soft);
}

/* Dark mode */

:root:has(.master-container.dark) {
  color-scheme: dark light;
  color: var(--white);
  background-color: var(--black-soft);
}

.master-container.dark {
  .page-section.bordered {
    border-color: var(--white-mute);
  }
}

@media (max-width: 750px) {
  .page-section {
    margin: calc(54px + 2.5%) 2.5% 2.5% 2.5%;
  }
}

/* Vue transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.25s;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
}