/* color palette from <https://github.com/vuejs/theme> */
:root {
  --font-family: 'Cambria';

  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --pale-tone: #dbd2bb;
  --pale-grey: #dcd8d8;
  --soft-beige: #e3ded7;

  --soft-grey: #a09f9f;
  --dark-grey: #474646;
  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;
  --indigo: #2c3e50;
  --indigo-dark: #1f2f3f;

  --intense-main-palette: #4ca299;
  --brown-main-palette: #552801;
  --soft-main-palette: #9b784b;
  --light-main-palette: #b88c75;
  --dimmed-main-palette: #d5b18f;
  --reddish-main-palette: #ca5924;
  --negative-main-palette: #a1c6cc;
  --impact-main-palette: #ffd813;

  --payoneer-orange: #FF4600;
  --whatsapp-green: #25D366;

  --failure-tone: red;
  --light-success-tone: #78c38d;
  --success-tone: #356643;
}